##############################################################################
# .gitignore
##############################################################################

bin/
gen/

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp

lost-and-found/build/binout/
lost-and-found/build/**/binout/

example/binout/
example/**/binout/

/build/**

