##############################################################################
# .gitignore
##############################################################################

bin/
gen/

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp

build/binout/
build/**/binout/
